.fd-wrapper
  display flex
  flex-direction column
  .fd-detail
    flex 1
    height 100px
    margin-bottom 2%
    border 1px solid #fff
    border-radius 8px
    &:first-child
      margin-top 2%
    &:last-child
      margin-bottom 0
    .detail
      margin-top 10px
      margin-left 10%
      font-size 16px
      .highlight
        color: #0df3fd
    .detail-process
      margin 1% 5% 0 10%
      .process
        color: #fff
